<br>
<table align="center">
  <tr>
    <td>
	<H2>Atacama Large Millimeter Array</H2>
    </td>
  </tr>
  <tr>
    <td colspan=2>
       <br>
       <h1>Correlator Subsystem</h1>
    </td>
  </tr>
  <tr>
    <td colspan=2>
       <h1>Interface Control Document</h1>
       <h2>Document:  COMP-70.00.00.00-70.40.00.00-B-ICD</h2>
    </td>
  </tr>  
</table>
<hr>
