
body {font-family: Arial,Verdana;font-size: 14px}
table {width: 100%}
td {width: 25%; font-size: 14px}
th {width: 25%; font-size: 14px}
.programlisting {font-size: 12px; background-color: #eed5d5; border-style: double; border-color: #202020}
